modules = ["nodejs-20", "web", "nodejs-22"]
run = "npm run start"

[nix]
channel = "stable-25_05"
packages = ["zip"]

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Proxy Server"
author = 17645371
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node proxy-server.js"

[[workflows.workflow]]
name = "SSR Server"
author = 17645371
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node ssr-server.js"

[[workflows.workflow]]
name = "Development Server"
author = 17645371
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node ssr-server.js"
