modules = ["web", "nodejs-22"]
run = "npm run start"

[nix]
channel = "stable-25_05"
packages = ["zip"]

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 17645371
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
